.transactionForm {
    width: 100%;
    height: 200px;
}
.form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.form__textInput {
    width: 30vw;
    height: 20px;
    margin-bottom: 4px;
}
.form__textInput input {
    width: 30vw;
    height: 20px;
}
.form__numberInput {
    width: 30vw;
    height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.form__numberInput input {
    width: 30vw;
    height: 20px;
}
.button {
    background-color: #C0B298; /* Primary color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 1.5rem;
  }
  
  .button:hover {
    background-color: #C0B298; /* Darken on hover */
    transform: translateY(-2px); /* Lift effect on hover */
  }
  
  .button:active {
    background-color: #CEC2AD; /* Darker color on click */
    transform: translateY(0); /* Remove lift effect on click */
  }
  