.history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.history h5 {
    margin: 0;
    padding: 6px 0 0 0 ;
}
.income {
    height: 30px;
    width: 30vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 6px solid green;
    margin: 0 4rem 0.5rem 0;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.66);
}
.expense {
    height: 30px;
    width: 30vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 6px solid red;
    margin: 0 4rem 0.5rem 0;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.66);}

    .history li {
        text-decoration: none;
    }